@media print {
    body {
        visibility: hidden; /* Hide everything initially */
    }

    .invoice-container {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 165px;
        width: 90%;
        margin: 0;
        padding: 0;
    }

    .navbar, 
    .footer, 
    .no-print {
        display: none !important; /* Hide navigation, footers, and any extra UI elements */
    }

    @page {
        size: A4;
        margin: 0; /* Removes default browser margins */
    }

    .invoice-title {
        color: #000 !important; /* Black for print */
    }
    
    /* If there are more than 3 products, make the font smaller for printing */
    .product-table.medium-products {
        font-size: 10px; /* 4-6 products */
    }

    .product-table.many-products {
        font-size: 9px; /* 7+ products */
    }
}
