@media print {
    body {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

    .invoice-container {
        visibility: visible;
        position: absolute;
        top: 55mm;
        left: 0mm;
        width: 100%;
        font-size: 9.5px;
    }

    .navbar,
    .footer,
    .no-print {
        display: none !important;
    }

    @page {
        size: A4;
        margin-left: 0mm;
    }

    .invoice-title {
        color: #000 !important;
    }

    .product-table {
        font-size: 9px;
    }

    .product-table.medium-products {
        font-size: 8px;
    }

    .product-table.many-products {
        font-size: 8px;
    }

    input {
        font-size: 9px;
        padding: 2px;
    }

    .sign {
        font-size: 15px;
    }
}